<main class="main">
  <section>
    <div class="gradient">
      <div class="text-red text-8xl font-bold h-5/6 place-content-center ml-15">
        @for (phrase of phrasesToShow; track $index; let f = $first;) {
          <p>{{ phrase }}
            @if (phrase !== ''){
              <span class="ml-negative-2" #underscore>_</span>
            }
          </p>
        }
      </div>
      <div class="flex justify-center">
        <fa-icon class="cursor-pointer text-red" [icon]="faAnglesDown" size="6x" animation="bounce"></fa-icon>
      </div>
    </div>

  </section>
</main>
